@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 4vw;
    font-family: "Lato", "sans-serif", "Roboto";
    background-color: #2f3640;
    color: whitesmoke;
    line-height: 1.9;
}

.blog-post-header { 
    min-height: 30vh;
    display: block;
    font-size: 2em;
    text-align: center;
}

.blog-title {
    color: #f08e80;
    text-align: center;
}

.blog-content {
    display: block;
    font-size: 1.3em;
    margin: 0 10%;
    padding: 10px 0;
}

.buttons {
    margin: 20px 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding:13px;
    font-size: 1em;
    background-color: #353b48;
    transition-duration: 0.4s;
    cursor: pointer;
    border:1px solid black;
    border-radius: 30px;
    transition: ease-in-out 0.5s;
}

button:hover {
    border: none;
    background-color: #27ae60;
    color: white;
}

@media screen and (max-width: 600px) {
    .blog-content {
        display: block;
        font-size: 1.2em;
        margin: auto 3px;
        padding: 10px 0;
    }

    .buttons {
        margin: 20px 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-around;
    }


}