.subscribe-form {
    margin: 20px 20px 40px;
    padding: 5px 37vw;
    display: block;
    text-align: center;
    align-content: center;
}

h3 {
    font-size: 2rem;
    color: #f08e80;
    text-align: center;
}

input {
    width: 100%;
    padding:13px;
    margin: 10px auto;
    background-color: #353b48;
    border:1px solid #f5f5f5;
    border-radius: 30px;
    outline: none;
} 

input::placeholder {
    color: #f5f5f5;
    text-transform: uppercase;
}

.col-75 {
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}